{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#{% extends 'admin/adminindex.html' %}#}
{#{% block body %}#}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/add_stop_post">#}
{#  <table width="315" border="1">#}
{#    <tr>#}
{#      <td width="104">stop name </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><label>#}
{#        <input type="text" name="textfield" />#}
{#      </label></td>#}
{##}
{#    </tr>#}
{#    <tr>#}
{#      <td height="23" colspan="3"><a href="#">#}
{#        <label>#}
{#        <input type="submit" name="Submit" value="Submit" />#}
{#        </label>#}
{#      </a></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}
{% extends 'admin/adminindex.html' %}

{% block body %}
<body>
  <div class="container mt-5">
    <div class="card shadow p-4">
      <h3 class="text-center mb-4">Add Stop</h3>
      <form id="form1" name="form1" method="post" action="/add_stop_post">
        <div class="mb-3">
          <label for="stopName" class="form-label">Stop Name</label>
          <input type="text" id="stopName" name="textfield" class="form-control" required />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock %}
