<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
      <table width="200" border="1">
  <tr>
    <td><a href="view_owner">View Owner</a></td>
  </tr>
  <tr>
    <td><a href="verify_boat">Verify Boat</a></td>
  </tr>
  <tr>
    <td><a href="/view_drivers">Drivers</a></td>
  </tr>
  <tr>
    <td><a href="/track_boat">Boat</a></td>
  </tr>
  <tr>
    <td><a href="/view_emergency">Emergency</a></td>
  </tr>
  <tr>
    <td><a href="/view_complaint">Complaint</a></td>
  </tr>
  <tr>
    <td><a href="/">Logout</a></td>
  </tr>
    </table>
    </div>

</body>
</html>