
<html>

<!-- Head -->
<head>

<title>Existing Login Form a Flat Responsive Widget Template :: W3layouts</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Existing Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<link href="/static/login/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />

<!-- Style --> <link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all">

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>REGISTRATION FORM</h1>

	<div class="w3layoutscontaineragileits">

		<form action="/registration_post" method="post" enctype="multipart/form-data">
			<input type="text" Name="textfield" placeholder="Firstname" required="">
			<input type="text" Name="textfield2" placeholder="Lastname" required="">
			<input type="date" Name="textfield5" placeholder="Date of birth" required=""><br>
            <tr>
    <td>Gender</td>
    <td>
      <input name="radiobutton" type="radio" value="Male" /> Male
      <input name="radiobutton" type="radio" value="Female" /> Female
    </td>
  </tr>
			<input type="text" Name="textfield6" placeholder="Place" required="">
			<input type="text" Name="textfield7" placeholder="Post" required="">
			<input type="text" Name="textfield4" placeholder="Pin" required="">
			<input type="text" Name="textfield3" placeholder="Phone number" required="">
			<input type="text" Name="textfield8" placeholder="Email" required="">
			<input type="file" Name="file" placeholder="Image" required="">
			<input type="text" Name="textfield9" placeholder="Username" required="">
			<input type="password" Name="textfield10" placeholder="Password" required="">
			<input type="password" Name="textfield11" placeholder="Re-password" required="">
			<ul class="agileinfotickwthree">

			</ul>
			<div class="aitssendbuttonw3ls">
				<input type="submit" value="LOGIN">
{#				<p> To register new account <span>→</span> <a class="w3_play_icon1" href="/registration"> Click Here</a></p>#}
				<div class="clear"></div>
			</div>
		</form>
	</div>
	

	<div class="w3footeragile">
{#		<p> &copy; 2017 Existing Login Form. All Rights Reserved | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>#}
	</div>

	
	<script type="text/javascript" src="/static/login/js/jquery-2.1.4.min.js"></script>

	<!-- pop-up-box-js-file -->  
		<script src="/static/login/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!--//pop-up-box-js-file -->
{#	<script>#}
{#		$(document).ready(function() {#}
{#		$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({#}
{#			type: 'inline',#}
{#			fixedContentPos: false,#}
{#			fixedBgPos: true,#}
{#			overflowY: 'auto',#}
{#			closeBtnInside: true,#}
{#			preloader: false,#}
{#			midClick: true,#}
{#			removalDelay: 300,#}
{#			mainClass: 'my-mfp-zoom-in'#}
{#		});#}
{#																		#}
{#		});#}
{#	</script>#}

</body>
<!-- //Body -->

</html>