<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body>
<form action="/registration_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
    <table border={1}>
      <tr>
        <td>Firstname</td>
        <td><input type="text" name="textfield" placeholder="first name" /></td>
      </tr>
      <tr>
        <td>Lastname</td>
        <td><input type="text" name="textfield2" /></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><input name="radiobutton" type="radio" value="Male" />
          Male
          <input name="radiobutton" type="radio" value="Female" />
          Female</td>
      </tr>
      <tr>
        <td>Date of birth </td>
        <td><input type="date" name="textfield5" /></td>
      </tr>
      <tr>
        <td>Place</td>
        <td><input type="text" name="textfield6" /></td>
      </tr>
      <tr>
        <td>Post</td>
        <td><input type="text" name="textfield7" /></td>
      </tr>
      <tr>
        <td>Pin</td>
        <td><input type="number" name="textfield4" /></td>
      </tr>
      <tr>
        <td>Phone number </td>
        <td><input type="number" name="textfield3" /></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="email" name="textfield8" /></td>
      </tr>
      <tr>
        <td>Image</td>
        <td><input type="file" name="file" /></td>
      </tr>
      <tr>
        <td>Username</td>
        <td><input type="text" name="textfield9" /></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="textfield10" /></td>
      </tr>
      <tr>
        <td>Re-password</td>
        <td><input type="password" name="textfield11" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" name="Submit" value="Signup" /></td>
      </tr>
    </table>
    </form>
</body>
</html>