<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
</form>
<table width="200" border="1">
  <tr>
    <td><a href="/owner_view_boat">Add & manage boat including license</a></td>
  </tr>
  <tr>
    <td><a href="/owner_add_or_manage_insurance">Add & manage insurance details</a></td>
  </tr>
  <tr>
    <td><a href="/owner_add_and_manage_driver">Add & manage driver including license</a></td>
  </tr>
  <tr>
    <td><a href="#">Assign boat to driver</a></td>
  </tr>
  <tr>
    <td><a href="/owner_track_driver">Track drivers</a></td>
  </tr>
  <tr>
    <td><a href="/owner_view_emergency_notification">View emergency notification</a></td>
  </tr>

  <tr>
    <td><a href="/owner_view_complaints_and_send_reply">View complaints & send reply</a></td>
  </tr>
  <tr>
    <td><a href="/owner_view_feedback">View feedback  </a></td>
  </tr>
  <tr>
    <td><a href="#">View allocated no of passengers</a></td>
  </tr>
  <tr>
     <td><a href="/">Log out</a></td>
  </tr>
</table>
</body>
</html>
