{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'owner/ownerindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="228" border="1">
    <tr>
      <td width="67">Trip Name </td>
      <td width="36">Route</td>
      <td width="30">Time</td>
      <td width="67">&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ i.tripname }}&nbsp;</td>
      <td>{{ i.ROUTE.fromRoute }} to {{ i.ROUTE.to }} &nbsp;</td>
      <td>{{ i.start_time }} to {{ i.end_time }}</td>
      <td><p><a href="/owner_delete_triptime/{{ i.id }}">Delete</a></p>
          <p><a href="#">View</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form><p>
</body>
{#</html>#}
{% endblock %}