{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#{% extends 'owner/ownerindex.html' %}#}
{#{% block body %}#}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/owner_send_notification_driver_post">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td>Notification</td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><input type="text" name="textfield" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><input type="submit" name="Submit" value="Send" /></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}
{% extends 'owner/ownerindex.html' %}
{% block body %}
<body>
  <div class="container mt-5">
    <div class="card shadow p-4">
      <h3 class="text-center mb-4">Send Notification</h3>
      <form id="form1" name="form1" method="post" action="/owner_send_notification_driver_post">
        <div class="mb-3">
          <label for="notification" class="form-label">Notification</label>
          <input type="text" name="textfield" id="notification" class="form-control" required />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock %}
